<header class="navbar" tuiTheme="dark">
  <div class="navbar-content">
    <img src="assets/logo.png" alt="" class="logo" routerLink="/">
    <nav class="navigation">
      <button
        tuiButton
        appearance="flat"
        size="s"
        [style.color]="'var(--tui-background-accent-1)'"
        routerLink="/signin"
      >
        Entrar
      </button>
      <button tuiButton size="s" routerLink="/new-poll">
        Nova enquete
        <tui-icon icon="@tui.plus" [style.height.rem]="1" />
      </button>
    </nav>
  </div>
</header>
