.content {
  width: 70%;
  margin: auto;
}

.title {
  color: white;
  font-size: 30px;
  margin-top: 2rem;
  text-align: center;
}

.new-poll-form {
  width: 50%;
  margin: auto;
  margin-top: 3rem;

  header {
    font-size: 14px;
    color: var(--tui-background-accent-2);
    font-weight: 500;

    small {
      margin-left: 8px;
    }
  }

  .add-options {
    margin-top: 2rem;
    padding: 1rem;
    outline: 1px solid #7a7a7a;
    border-radius: 12px;

    .option-wrapper {
      display: flex;
      column-gap: 12px;
      margin-bottom: 1rem;

      .remove-btn {
        width: fit-content
      }

      .input {
        flex: 1;
      }
    }
  }
  
  .poll-settings {
    margin-top: 1.8rem;
    display: flex;
    
    .left {
      display: flex;
      flex-direction: column;
      flex: 1;
      border-right: 1px solid #7a7a7a;
      padding-right: 1.4rem;
    }

    .right {
      padding-left: 1.4rem;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;
  }
}

.enter-animation {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leave-animation {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@import '@taiga-ui/core/styles/taiga-ui-local.less';
 
.ticks-labels {
    .tui-slider-ticks-labels(m);
}
 
.tick-label {
    .button-clear();
 
    outline: 0;
    cursor: pointer;
}