<app-navbar></app-navbar>

<main class="content">
  <h1 class="title">Criar uma Enquete</h1>
  <div class="new-poll-form">
    <div tuiPlatform="web">
      <div tuiCardLarge tuiTheme="dark" class="poll-card">
        <header tuiHeader>
          <tui-icon icon="@tui.circle-user" />
          <small> Willian Almeida </small>
        </header>
        <section>
          <div>
            <tui-textfield tuiTextfieldSize="l">
              <input placeholder="Dê um título a sua enquete" [(ngModel)]="pollTitle" tuiTextfield />
            </tui-textfield>
          </div>

          <div class="add-options">
            <form [formGroup]="newPollForm">
              @for (option of getOptionsKeys() ; track option) {
              <div
                class="option-wrapper"
                animate.enter="enter-animation"
                animate.leave="leave-animation"
              >
                <tui-textfield tuiTextfieldSize="s" class="input" [tuiTextfieldCleaner]="false">
                  <input
                    tuiTextfield
                    placeholder="Opção {{ $index + 1 }}"
                    [formControlName]="option"
                  />
                </tui-textfield>
                <div class="remove-btn">
                  @if ($index > 1) {
                  <button
                    tuiButtonClose
                    tuiIconButton
                    type="button"
                    (click)="removeOption(option)"
                    size="xs"
                  >
                    Close
                  </button>
                  }
                </div>
              </div>
              }
            </form>
            <button
              tuiButton
              size="s"
              (click)="addOption()"
              class="add-option-btn"
              type="button"
              appearance="outline"
            >
              Adicionar opção
            </button>
          </div>

          <div class="poll-settings">
            <div class="left">
              <span class="label text-muted" style="margin-bottom: 6px;">Duração da enquete (em dias)</span>
              <input
                tuiSlider
                type="range"
                size="m"
                [min]="1"
                [max]="7"
                [(ngModel)]="pollDuration"
                [segments]="6"
              />
              <div class="ticks-labels">
                <button *ngFor="let label of labels" type="button" class="tick-label">
                  {{ label }}
                </button>
              </div>
            </div>
            <div class="right">
              <span class="label text-muted">Exigir login para votar</span>
              <input tuiSwitch type="checkbox" [(ngModel)]="requireLogin" />
            </div>
          </div>
        </section>
        <tui-error [error]="cannotCreatePollError" />
        <footer>
          <button tuiButton appearance="secondary" size="m" routerLink="/polls">Voltar</button>
          <button tuiButton appearance="primary" size="m" (click)="createPoll()" >Criar enquete</button>
        </footer>
      </div>
    </div>
  </div>
</main>
