<div class="poll-wrapper">
  <div tuiPlatform="web">
    <div tuiAppearance="floating" tuiCardLarge class="poll-card" tuiTheme="dark">
      <header tuiHeader>
        <h2 tuiTitle class="title">
          Qual é a melhor faixa de Fallen, álbum estreante do Evanescence?
        </h2>
      </header>

      <section>
        <form [formGroup]="pollForm">
          <label tuiLabel class="option">
            <input formControlName="option" size="m" tuiRadio type="radio" value="taiga" />
            <span>Imaginary</span>
          </label>

          <label tuiLabel class="option">
            <input formControlName="option" size="m" tuiRadio type="radio" value="outro" />
            <span>Bring Me To Life</span>
          </label>

          <label tuiLabel class="option">
            <input formControlName="option" size="m" tuiRadio type="radio" value="teste"/>
            <span>Haunted</span>
          </label>
        </form>
      </section>

      <footer>
        <div class="poll-info">
            <span class="text-muted">Total de Votos: 56</span>
            <tui-pin class="pin bg-muted"/>
            <span class="text-muted">10 Dias Restantes</span>
        </div>
        <div class="action">
            <button tuiButton size="m">Votar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
