<div class="poll-wrapper">
  <div tuiPlatform="web">
    <div tuiAppearance="floating" tuiCardLarge class="poll-card" tuiTheme="dark">
      <header tuiHeader>
        <h2 tuiTitle class="title">
          {{ pollData.title }}
        </h2>
      </header>

      @if(!voted) {
        <section>
          <form [formGroup]="pollForm">
            @for (option of pollData.options; track option.id) {
            <label tuiLabel class="option">
              <input
                formControlName="option"
                type="radio"
                tuiRadio
                [value]="option.id"
              />
              <span>{{ option.name }}</span>
            </label>
            }
          </form>
        </section>
      } @else {
        <section class="result" animate.enter="enter-animation">
          @for (option of pollData.options; track option.id) {
            <div class="option-votes">
              <div class="percentage">
                <span>{{option.votePercentage}}%</span>
              </div>
              <div class="progress">
                <strong>{{option.name}}</strong>
                <progress
                  size="m"
                  tuiProgressBar
                  [max]="100"
                  [value]="option.votePercentage"
                  [color]="option.progressColor ?? 'var(--tui-color-accent-2)'"
                ></progress>
              </div>
            </div>
          }
        </section>
      }
        
      <footer>
        <div class="poll-info">
          <span class="text-muted">Total de Votos: {{totalVotes}}</span>
          <tui-pin class="pin bg-muted" />
          <span class="text-muted">{{daysRemaining}} dias restantes</span>
        </div>
        <div class="action">
          <button tuiButton size="m" (click)="vote()">Votar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
