*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: clip;
}

[tuiCardLarge],
[tuiCardMedium],
.poll-card {
  overscroll-behavior: auto !important;
}

:root {
    --tui-background-accent-1: #fca311;
    --tui-background-accent-2: #c7800f;
    --tui-background-accent-opposite-hover: #aaa79c;
    // Add more custom variables as needed
}

.text-muted {
    color: #b3b3b3;
}

.bg-muted {
    background-color: #b3b3b3;
}