html, * {
    padding: 0;
    margin: 0;
}

:root {
    --tui-background-accent-1: #fca311;
    --tui-background-accent-2: #c7800f;
    --tui-background-accent-opposite-hover: #aaa79c;
    // Add more custom variables as needed
}